<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" type="text/css" href="./bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./CSS/style.css">
</head>
<body>

<div class="container-fluid">
	<div class="row">
		<div class="col"></div>
		<div class="col-6">
			<div class="mainNavDiv">
				<div align="center">
					<button type="button" class="btn btn-light createProductBtn">Create product</button>
					<button type="button" class="btn btn-light createPublisherBtn">Create publisher</button>
				</div>
			</div>
		</div>
		<div class="col"></div>
	</div>
</div>

<script src="./jquery/dist/jquery.js"></script>
<script src="./bootstrap/dist/js/bootstrap.js"></script>
<script src="./JS/navigation.js"></script>
</body>
</html>